<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>사용자 목록 페이지</title>
    </head>
</html>
<body>
    <div>
        <h1>사용자 목록 페이지</h1>
    </div>
    <div>
        <form method="POST">
            <div class="form-group">
                <label for="selectType">받아올 형식을 입력하세요</label>
                <input type="text" class="form-control" id="selectType" placeholder="DB 또는 TXT를 입력하세요." name="selectType"/>
            </div>
            <button type="submit" class="btn btn-primary">완료</button>
        </form>
    </div>
    </div>
   
</body>